<h1>Platforms</h1>

<div class="row-fluid">
  <ul class="thumbnails">
    <% @platforms.each do |platform| %>
      <li class="span4">
        <div class="thumbnail">
          <%= link_to image_tag(platform.image_url), platform_path(platform) %>
          <div class="caption">
            <h4><%= platform.name %></h4>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<br />

<%= link_to 'New Platform', new_platform_path %>
