<h1>Game Retailers</h1><br/>
<p class="lead">Looking for new games to add to your collection? Check out our users' favorite retailers!</p>

<div class="row-fluid">
  <% @game_retailers.each_with_index do |game_retailer, index| %>
  <% if index % 4 == 0 %>
    </ul>
    <ul class="thumbnails">
  <% end %>
  <li class="span3">
    <div class="thumbnail">
      <div class="caption">
        <h4><%= link_to game_retailer.name, game_retailer.website, :target => '_blank' %></h4>
      </div>
    </div>
  </li>
  <% end %>
</div>

<br />

<%= link_to 'Add My Favorite Retailer', new_game_retailer_path, class: 'btn btn-primary' %>